body {
  background-color:gainsboro;
  background-color: floralwhite;
  color: teal;
}

#root {
  text-align: center;
  margin-top: 30px;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: larger;
  background-color: azure;  
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  color: cornflowerblue;
  border-color: gainsboro;
}

.result {
  font-size: xx-large;
}

.calButton {
  font-size: small;
  padding-top: 11px;
  background-color: aquamarine;
}

.cButton {
  padding-right: 17px;
}

